:root {
  --ion-color-primary: #473C33;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-secondary: #ABC270;
  --ion-color-secondary-contrast: #000000;
  --ion-color-tertiary: #FDA769;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-warning: #FEC868;
  --ion-color-warning-contrast: #000000;
}